/.env
/.sass-cache
/nbproject
/node_modules
/npm-debug.log
/public/users
/public/assets/css/app.css
/public/assets/css/app.css.map
/public/scripts/app.js
/public/scripts/app.js.map
/v8-compile-cache-0
/vendor
