.article {
  
  a {
    color: $theme-color;
  }
  
  a:hover {
    color: $theme-hover-color;
  }
  
  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h5 {
    color: $theme-dark-grey;
    font-size: 14px;
    margin-bottom: 15px;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    max-height: 650px;
  }

  .summary p {
      font-size: 1.3rem;
  }
  
  p.caption {
    font-size: 0.9rem;
    color: $theme-dark-grey;
    text-align: center;
  }
  
  .article-path {
    margin-left: 5px;
  }
  
  .previous-article-button {
    i {
      position: relative;
      top: 1px;
      margin-right: 5px;
    }
  }
  
  .next-article-button {
    float: right;
    i {
      position: relative;
      top: 1px;
      margin-left: 5px;
    }
  }
}

.article-summary {

  border-top: 1px solid $theme-grey;
  cursor: pointer;
  
  @media only screen and (min-width: $max-mobile-mode-width)   {
    padding: 10px;
  }

  img {
    @media only screen and (min-width: $max-mobile-mode-width)   {
      max-width: 90%;
    }
  }

  .continue-reading {

    text-align: right;
    color: $theme-color;

    i {
      position: relative;
      top: 1px;
      margin-left: 5px;
    }
  }

  p.continue-reading:hover {
    color: $theme-hover-color;
  }
}

.article-summary:hover {
  background-color: $theme-light-grey;
}