.article {

  a {
    color: $theme-color;
  }

  a:hover {
    color: $theme-hover-color;
  }

  h6 {
    color: $theme-dark-grey;
  }

  img {
    max-width: 100%;
    margin: 1.2rem auto 0 auto;
    display: block;
    max-height: 38rem;
  }

  .summary p {
    font-size: 1.1rem;
    font-weight: 600;
  }

  p.caption {
    font-size: 0.9rem;
    color: $theme-dark-grey;
    margin-top: 0;
    text-align: center;
  }
}

.article-summary {

  border-top: 1px solid $theme-grey;
  cursor: pointer;
  padding: 0 0 1rem 0;

  .continue-reading {

    text-align: right;
    color: $theme-color;

    i {
      position: relative;
      top: 1px;
      margin-left: 5px;
    }
  }

  p.continue-reading:hover {
    color: $theme-hover-color;
  }
}

.article .summary img, .article-summary img {
  margin-top: 1.3rem;
  margin-bottom: 1.5rem;
}

.article-summary:hover {
  background-color: $theme-light-grey;
}
