#navigation-content {

  grid-column-start: page-start;
  grid-column-end: page-end;
  grid-row-start: info-end;
  grid-row-end: footer-start;

  h1, h2, h3, h4, h5, p {
    font-family: $theme-font-family;
  }

  h1 {
    margin-bottom: 20px;
  }

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  @import 'article';
  @import 'category';

  a.btn-primary {
    background-color: $theme-color;
    color: $theme-text-color-on-theme-color;
    border: none;
  }

  a.btn-primary:hover {
    background-color: $theme-hover-color;
    color: $theme-text-color-on-theme-color;
  }
}
