#navigation-footer-content {
  
  grid-column-start: page-start;
  grid-column-end: page-end;
  grid-row-start: footer-start;
  grid-row-end: footer-end;
  background-color: $footer-color;

  p {
    font-family: $theme-font-family;
    line-height: $footer-height;
    text-align: center;
    color: $theme-grey;
    margin: 0;
    padding: 0;
  }
}