#navigation-header-content {

  grid-column-start: page-start;
  grid-column-end: page-end;
  grid-row-start: header-start;
  grid-row-end: header-end;

  background-color: $theme-color;

  .header-element {

    float:left;
    line-height: $header-height;
    cursor: pointer;
    padding: 0 15px;
    margin-right: 10px;

    h3 {
      font-size: 18px;
      font-family: $header-element-font-family;
      line-height: $header-height;
      color: $theme-text-color-on-theme-color;
      margin: 0;
      padding: 0;
    }

    i.fa-angle-down {
      margin-left: 3px;
    }
  }

  .header-element.header-link:hover {
    background-color: $theme-hover-color;
  }

  .header-element.header-right, .dropdown.header-right {
    float: right;
  }

  .header-element button.header-button {
    color: $theme-color;
    cursor: pointer;
    position: relative;
    top: 16px;
  }

  .dropdown {

    height: 100%;

    .dropdown-toggle {
      background-color: $theme-color;
      border: 0;
      color: $theme-text-color-on-theme-color;
      cursor: pointer;
      height: 100%;
      margin: 0;
      padding: 0 15px;
      text-transform: uppercase;
    }

    .dropdown-toggle:focus {
      outline: none;
    }

    .dropdown-toggle:hover {
      background-color: $theme-hover-color;
    }

    .dropdown-menu {

      background-color: $theme-hover-color;
      border: 0;
      border-radius: 0;
      margin: 0;

      button {
        color: $theme-text-color-on-theme-color;
        cursor: pointer;
        text-transform: uppercase;
      }

      button:hover {
        background-color: $theme-color;
      }
    }
  }

  .dropdown.show {
    .dropdown-toggle {
      background-color: $theme-hover-color;
    }
  }

  #site-name {

    margin-right: 20px;

    h1 {
      font-size: 36px;
      font-family: $header-logo-font-family;
      line-height: $header-height;
      color: $theme-text-color-on-theme-color;
      margin: 0;
      padding: 0;
    }
  }
}
