.overlay {

  grid-column-start: page-start;
  grid-column-end: page-end;
  grid-row-start: info-end;
  grid-row-end: footer-start;

  .content {

    background-color: rgba(128, 128, 128, 0.25);
    height: 100%;
    width: 100%;

    #spinner-icon {
      color: $theme-color;
      font-size: 80px;
      left: 50%;
      margin-left: -40px;
      margin-top: -40px;
      position: relative;
      top: 50%;
    }
  }
}
