@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import '../vendor/font-awesome/fontawesome.scss';
@import '../vendor/font-awesome/fa-brands.scss';
@import '../vendor/font-awesome/fa-regular.scss';
@import '../vendor/font-awesome/fa-solid.scss';

$theme-color: #579ABF;
$theme-hover-color: #317499;
$theme-text-color-on-theme-color: #fdfdfd;
$theme-font-family: 'Roboto', sans-serif;
$theme-light-grey: #f7f7f7  ;
$theme-grey: #a9aca9;
$theme-dark-grey: #4d5359;

$header-element-font-family: 'Nunito', sans-serif;
$header-logo-font-family: 'Caveat Brush', cursive;
$header-height: 70px;

$footer-color: $theme-dark-grey;
$footer-height: 120px;

$max-mobile-mode-width: 720px;
$min-wide-mode-width: 1024px;

@import "buttons";

html {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0.9em 1.2rem 0.7em 1.2rem
}

#grid-container {

  display: grid;
  grid-template-columns: [page-start] 1fr [page-end];
  grid-template-rows: [header-start] auto [header-end] auto [info-end] 1fr [footer-start] $footer-height [footer-end];
  min-height: 100vh;

  @media only screen and (min-width: $max-mobile-mode-width)   {
    grid-template-rows: [header-start] 70px [header-end] auto [info-end] 1fr [footer-start] $footer-height [footer-end];
  }

  @import "header/header";
  @import "content";
  @import "frontpage";
  @import "grids";
  @import "overlay";
  @import "footer";
}

.mobile-hidden {
  display: none;
}

@media only screen and (min-width: $max-mobile-mode-width) {

  .mobile-hidden {
    display: initial;
  }

  .only-in-mobile {
    display: none;
  }
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
