@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import '../vendor/font-awesome/fontawesome.scss';
@import '../vendor/font-awesome/fa-brands.scss';
@import '../vendor/font-awesome/fa-regular.scss';
@import '../vendor/font-awesome/fa-solid.scss';

$theme-color: #579ABF;
$theme-hover-color: #317499;
$theme-text-color-on-theme-color: #FFFFFF;
$theme-font-family: 'Roboto', sans-serif;
$theme-light-grey: #fbfbfb;
$theme-grey: #f3f3f3;
$theme-dark-grey: #959595;

$header-element-font-family: 'Nunito', sans-serif;
$header-logo-font-family: 'Caveat Brush', cursive;
$header-height: 70px;

$footer-color: $theme-grey;
$footer-height: 120px;

$max-mobile-mode-width: 720px;
$min-wide-mode-width: 1024px;

#grid-container {

  display: grid;
  grid-template-columns: [page-start] 0fr [content-start] 1fr [content-end] 0fr [page-end];
  grid-template-rows: [header-start] auto [header-end] auto [info-end] 1fr [footer-start] $footer-height [footer-end];
  min-height: 100vh;

  @media only screen and (min-width: $max-mobile-mode-width)   {
    grid-template-columns: [page-start] 1fr [content-start] 6fr [content-end] 1fr [page-end];
    grid-template-rows: [header-start] 70px [header-end] auto [info-end] 1fr [footer-start] $footer-height [footer-end];
  }

  @media only screen and (min-width: $min-wide-mode-width)   {
    grid-template-columns: [page-start] 1fr [content-start] 720px [content-end] 1fr [page-end];
  }

  @import "header/header";
  @import "content";
  @import "frontpage";
  @import "overlay";
  @import "footer";
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
